{
margin :0;
padding:0;
box sizing :border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{ 
  margin:0;
  padding:0;
}
body
{
  height:100vh;
  display:flex:
  align-items:center;
  justify-content:center;
  background: linear gradient(to top , #0c7b93 0%, #008acc 100%);
}
.cgpa contanier
{
  heigth:auto;
  width:500px;
  border-radius:10px;
}
  
  
